@import url(fonts.css);
/* VARIABLE DEFINITIONS */
:root {
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;

    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);

    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;

    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;

    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #264b5d;
        --primary-fg: #eee;

        --body-fg: #eeeeee;
        --body-bg: #121212;
        --body-quiet-color: #e0e0e0;
        --body-loud-color: #ffffff;

        --breadcrumbs-link-fg: #e0e0e0;
        --breadcrumbs-bg: var(--primary);

        --link-fg: #81d4fa;
        --link-hover-color: #4ac1f7;
        --link-selected-fg: #6f94c6;

        --hairline-color: #272727;
        --border-color: #353535;

        --error-fg: #e35f5f;
        --message-success-bg: #006b1b;
        --message-warning-bg: #583305;
        --message-error-bg: #570808;

        --darkened-bg: #212121;
        --selected-bg: #1b1b1b;
        --selected-row: #00363a;

        --close-button-bg: #333333;
        --close-button-hover-bg: #666666;
    }
}
/*页面上部控制*/
#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 40px;
    background: var(--header-bg);
    color: var(--header-color);
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: var(--header-link-color);
}

#header a:focus, #header a:hover {
    text-decoration: underline;
}

#branding {
    float: left;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: var(--accent);
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: var(--accent);
    /*color: #f5d05d;*/
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: var(--header-color);
}

#branding a:hover {
    text-decoration: none;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: var(--primary);
    color: var(--primary);
}


#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*height: 100%;之前的*/
    height: 100vh;
}

#container > div {
    flex-shrink: 0;
}

#container > .main {
    display: flex;
    flex: 1 0 auto;
}

#header a:link, #header a:visited {
    color: var(--header-link-color);
    text-decoration: none;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: var(--primary);
    color: var(--primary);
}
/*页面上部end*/
/*iframe控制*/
.iframe-container {
    /*height: -webkit-fill-available;*/
    width: 100%;
    /*!*right: 0;*!*/

    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    /*height: 100vh;*/
    /*height: -webkit-fill-available;*/
    /*max-height: 100vh;*/
    /*overflow-x: auto;*/
    /*overflow-y: hidden*/
    /*padding-bottom: 1rem!important;*/

    position: relative;

}

.iframe-container iframe {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
/*iframe控制end*/
/*原始的框架*/
body {
    min-height: 100vh;
    min-height: -webkit-fill-available
}

html {
    height: -webkit-fill-available
}

main {
    display: flex;
    flex-wrap: nowrap;
    /*!*height: 90vh;*!之前的*/
    /*height: -webkit-fill-available;*/
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    overflow:hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15)
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor
}


.nav-flush .nav-link {
    border-radius: 0
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: #f42f39
}

div li:hover {
    background-color: rgba(60, 98, 250, 0.65);
    float: left;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem
    }
}
/*原始框架end*/
/*调整li*/
div li:hover {
    background-color: rgba(123, 105, 250, 0.65);
    float: left;
}
.active{
    background-color: rgba(60, 98, 250, 0.65)!important;
}
.nav-link {
    padding: 0.5rem 1rem;
}